<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/contact.css">

</head>
<body>

    <div class="container">

        <div class="title">
            <header>
                <h1>CONTACT DETAILS</h1>
            </header>
        </div>

        <br>

        <div class="back-page">
            <a href="{{ url_for ('home') }}" , methods = "GET">
               <input class="button" type="submit"  value="⬅To Home Page" name="" >
            </a>
        </div>

        <br>

        <div class="intro">
            <p>
                Hello I am Adityaraj Chaudhari.I am Pursuing my B.E from SPPU Pune.I am the developer of this project here are my contact details.
                Feel Free to Contact!😉
            </p>
        </div>

        <div class="link">

            <div class="github">

                <a href="https://github.com/AdityarajChaudhari">Github</a>
            </div>
            <br>

            <div class="linkedin">
                <a href="https://www.linkedin.com/in/adityaraj-chaudhari-4450701b9/">Linkedin</a>
            </div>
            <br>

            <div class="skype">
                <a href="https://join.skype.com/invite/u8o6ghERf71M">Skype</a>
            </div>
        </div>

        <div class="foot">
            <footer><marquee>Copyright © 2021 by Adityaraj Hemant Chaudhari</marquee></footer>
        </div>

    </div>

</body>
</html>