<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Developer</title>
    <link rel="stylesheet" href="../static/developer.css">
</head>
<body>

    <div class="container">

        <div class="title">
            <header>
                <h1>ABOUT DEVELOPER</h1>
            </header>
        </div>

        <br>

        <div class="back-page">
            <a href="{{ url_for ('home') }}" , methods = "GET">
                <input class="button" type="submit"  value="⬅To Home Page" name="" >
            </a>
        </div>

        <br>

        <div class="img">
            <img src="../static/images/Adityaraj_Chaudhari.jpg">
        </div>

        <div class="info">
            <p>
                Hello I am Adityaraj Hemant Chaudhari.Currently I am pursuing my B.E degree from SPPU Pune.
                Currently I am studying Machine Learning , Data Science , Data Analysis , etc.
                I am doing Machine Learning internship in iNeuron.ai.I am open to make connections and also for job as well as internship opportunities!.Other than this I like playing
                Outdoor sports , reading books , hiking etc.
            </p>
        </div>

        <div class="foot">
            <footer><marquee>Copyright © 2021 by Adityaraj Hemant Chaudhari</marquee></footer>
        </div>

    </div>
</body>
</html>