<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" href="../static/info.css">
</head>
<body>

    <div class="container">
         <div class="title">
             <header>
                 <h1>INFORMATION OF CAMPUS RECRUITMENT PREDICTION</h1>
             </header>
         </div>

         <div class="back-page">
            <a href="{{ url_for ('home') }}" , methods = "GET">
                <input class="button" type="submit"  value="⬅Back TO home page" name="" >
            </a>
        </div>
        <br>

         <div class="Content">
             <div class="what">
                 <h1>What is a Campus Recruitment?</h1>
             </div>

             <div class="what-ans">
                 <p>
                     This data set consists of Placement data of students in a XYZ campus. It includes secondary and higher secondary school percentage and specialization. It also includes degree specialization, type and Work experience and salary offers to the placed students.
                 </p>
             </div>


             <div class ="app-info">
                 <h1>App Info</h1>
             </div>

             <div class="app-information">
                 <p>
                     The dataset taken for this application is from XYZ College by Ben Roshan.Here there are some
                     of the features/columns like gender,ssc board,hsc board, and their percentages etc which is used to determine if the candidate has offer in his hand or not
                     that is if the candidate is placed in certain company or not.There are also some of the factors like work experience, Post Graduate & Under Graduate scores which can be deciding factor to determine if a candidate is placed or not in a company.
                 </p>
                 <p>
                     Here we consider features like gender, hsc stream, under graduate degree,etc to predict that if the candidate
                     has been placed in a company or not.To check that if the candidate has been placed or not we can make use of this application.
                 </p>
                 <p>
                     Further we can also analyze the data and then help students to decide where to focus more and where to focus less.
                     So in case if work experience adds more chances for students getting placed then we can also analyze this and can motivate other students to acquire work
                     experience so that they can easily get placement.
                 </p>
             </div>

         </div>


         <div class="foot">
             <footer><marquee>Copyright © 2021 by Adityaraj Hemant Chaudhari</marquee></footer>
         </div>

     </div>

</body>
</html>